# ddc.vim
[[plugins]]
repo = 'Shougo/ddc.vim'

# repo = '~/ghq/github.com/Shougo/ddc.vim'
# merged = 0

depends = ['denops.vim']
on_event = ['InsertEnter', 'CursorHold', 'BufRead']
on_source = 'denops.vim'
hook_add = '''
set completeopt=menuone,noinsert,noselect
'''
hook_post_source = '''
call ddc#custom#alias('source', 'coc-ls', 'coc-patched')
call ddc#custom#alias('source', 'win32yank.exe', 'run')
call ddc#custom#alias('source', 'recent', 'registers-words')
call ddc#custom#alias('source', 'search', 'registers-words')
call ddc#custom#alias('source', 'file-buffer', 'file')
call ddc#custom#alias('source', 'pick', 'eval')

" all sources
let g:ddc_sources = [
      \ 'tabnine',
      \ 'coc-ls',
      \ 'treesitter',
      \ 'recent',
      \ 'search',
      \ 'tmux',
      \ 'around',
      \ 'buffer',
      \ 'file-buffer',
      \ 'file',
      \ 'neosnippet',
      \ 'win32yank.exe',
      \ 'nextword',
      \ 'pick',
    \ ]

let g:ddc_sources = [
      \ 'coc-ls',
      \ 'tabnine',
      \ 'tmux',
      \ 'around',
      \ 'file-buffer',
      \ 'file',
    \ ]

if !executable('win32yank.exe')
  call filter(g:ddc_sources, 'v:val isnot# "win32yank.exe"')
endif
if !has('nvim')
  call filter(g:ddc_sources, 'v:val isnot# "treesitter"')
endif
if g:lsp_mode isnot# 'coc'
  call filter(g:ddc_sources, 'v:val !~# "coc-.*"')
endif

" call ddc#custom#patch_global('autoCompleteDelay', 100)
" call ddc#custom#patch_global('autoCompleteEvents', ['InsertEnter', 'TextChangedI', 'TextChangedP', 'CompleteDone'])
call ddc#custom#patch_global('sources', g:ddc_sources)

call ddc#custom#patch_global('sourceOptions', {
    \ '_': {
    \   'matchers': ['matcher_fuzzy'],
    \   'sorters': ['sorter_rank'],
    \   'ignoreCase': v:true,
    \ }})

let name = 'around'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': 'A',
    \     'matchers': [],
    \     'minAutoCompleteLength': 4,
    \     'maxCandidates': 5,
    \     'dup': v:true,
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \     'maxSize': 500,
    \   },
    \ }})

let name = 'win32yank.exe'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': 'CLIP',
    \     'maxCandidates': 20,
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \     'cmd': ['win32yank.exe', '-o'],
    \   },
    \ }})

let name = 'recent'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': 'R',
    \     'maxCandidates': 20,
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \     'registers': '/"0123456789',
    \   },
    \ }})

let name = 'search'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': 'S',
    \     'maxCandidates': 4,
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \     'registers': '/',
    \   },
    \ }})

let name = 'buffer'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': 'B',
    \     'minAutoCompleteLength': 4,
    \     'maxCandidates': 5,
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \     'requireSameFiletype': v:false,
    \   },
    \ }})

let name = 'nextword'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': 'EN',
    \     'maxCandidates': 4,
    \     'isVolatile': v:true,
    \     'minAutoCompleteLength': 3,
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \   },
    \ }})

let name = 'neosnippet'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': 'SNIP',
    \     'minAutoCompleteLength': 10000,
    \     'dup': v:true,
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \   },
    \ }})

let name = 'tabnine'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'matchers': [],
    \     'mark': 'TN',
    \     'maxCandidates': 5,
    \     'isVolatile': v:true,
    \     'minAutoCompleteLength': 2,
    \     'forceCompletionPattern': '.[^(]',
    \     'dup': v:true,
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \   },
    \ }})

let name = 'tmux'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': 'TMUX',
    \     'maxCandidates': 5,
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \   },
    \ }})

let name = 'vim-lsp'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': 'VIM_LSP',
    \     'isVolatile': v:true,
    \     'maxCandidates': 30,
    \     'forceCompletionPattern': '\{|\.|:|->|''|"|<',
    \     'dup': v:true,
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \   },
    \ }})

let name = 'coc-ls'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': '',
    \     'isVolatile': v:true,
    \     'maxCandidates': 30,
    \     'matchers': ['matcher_full_fuzzy'],
    \     'minAutoCompleteLength': 1,
    \     'forceCompletionPattern': '\{|\.|:|->|''|"|<',
    \     'dup': v:true,
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \     'include': v:null,
    \     'exclude': ['F', 'A', 'B'],
    \   },
    \ }})
call ddc#custom#patch_filetype(
    \ ['json'], {
    \ 'sourceOptions': {
    \   name: {
    \     'matchers': [],
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \   },
    \ }})

let name = 'file'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': 'F',
    \     'isVolatile': v:true,
    \     'forceCompletionPattern': '\S/\S*',
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \     'bufMaxCandidates': 0,
    \     'followSymlinks': v:true,
    \     'projMarkers': ['.git', 'package.json'],
    \     'projFromCwdMaxCandidates': [1000],
    \     'projFromBufMaxCandidates': [1000, 1000],
    \   },
    \ }})
call ddc#custom#patch_filetype(
    \ ['ps1', 'dosbatch', 'autohotkey', 'registry'], {
    \ 'sourceOptions': {
    \   name: {
    \     'forceCompletionPattern': '\S\\\S*',
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \     'mode': 'win32',
    \   },
    \ }})

let name = 'file-buffer'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': 'F',
    \     'isVolatile': v:true,
    \     'forceCompletionPattern': '\S/\S*',
    \     'dup': v:true,
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \     'cwdMaxCandidates': 0,
    \     'followSymlinks': v:true,
    \     'projFromCwdMaxCandidates': [],
    \     'projFromBufMaxCandidates': [],
    \   },
    \ }})
call ddc#custom#patch_filetype(
    \ ['ps1', 'dosbatch', 'autohotkey', 'registry'], {
    \ 'sourceOptions': {
    \   name: {
    \     'forceCompletionPattern': '\S\\\S*',
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \     'mode': 'win32',
    \   },
    \ }})

let name = 'pick'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': 'P',
    \     'isVolatile': v:true,
    \     'minAutoCompleteLength': 10000,
    \     'matchers': ['matcher_fuzzy'],
    \     'sorters': [],
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \     'expr': 'g:ddc_pick_items',
    \   },
    \ }})

let name = 'treesitter'
call ddc#custom#patch_global({
    \ 'sourceOptions': {
    \   name: {
    \     'mark': 'TS',
    \   },
    \ },
    \ 'sourceParams': {
    \   name: {
    \   },
    \ }})

inoremap <silent><expr> <C-n>
    \ pumvisible() ? '<C-n>' : ddc#manual_complete()


let g:ddc_pick_items = []

function! s:pick(word)
  let g:ddc_pick_items = extend([{ 'word': a:word }], g:ddc_pick_items)
  if len(g:ddc_pick_items) > 100
    let g:ddc_pick_items = g:ddc_pick_items[:-2]
  endif
endfunction

nmap <silent> * :<c-u>call <sid>pick(expand('<cword>'))<cr><Plug>(asterisk-z*)

inoremap <silent><expr> <C-s><C-n> ddc#manual_complete()
inoremap <silent><expr> <C-s><C-f> ddc#manual_complete(['file-buf', 'file'])
inoremap <silent><expr> <C-s><C-l> ddc#manual_complete(['coc-ls'])
inoremap <silent><expr> <C-x><C-l> ddc#manual_complete(['coc-ls'])
inoremap <silent><expr> <C-s><C-s> ddc#manual_complete(['neosnippet'])
inoremap <silent><expr> <C-x><C-s> ddc#manual_complete(['neosnippet'])
inoremap <silent><expr> <C-s><C-p> ddc#manual_complete(['pick'])
inoremap <silent><expr> <C-x><C-p> ddc#manual_complete(['pick'])

" call timer_start(1000, {->execute('call ddc#enable()')})
call ddc#enable()

" Debug
" call ddc#custom#patch_global('sources', ['around'])
" call ddc#custom#patch_global('sources', ['file-buffer', 'file'])
" call ddc#custom#patch_global('sources', ['coc-ls'])
" call ddc#custom#patch_global('sources', ['registers-words'])
" call ddc#custom#patch_global('sources', ['tabnine'])
" call ddc#custom#patch_global('sources', ['win32yank.exe'])
" call ddc#custom#patch_global('sources', ['vim-lsp'])
" call ddc#custom#patch_global('sources', ['pick'])
" inoremap <silent><expr> <C-s><C-d> ddc#manual_complete(['vim-lsp'])
'''

[[plugins]]
repo = 'Shougo/ddc-around'
depends = ['ddc.vim']
on_source = 'ddc.vim'

[[plugins]]
repo = 'Shougo/ddc-sorter_rank'
depends = ['ddc.vim']
on_source = 'ddc.vim'

[[plugins]]
repo = 'Shougo/ddc-matcher_head'
depends = ['ddc.vim']
on_source = 'ddc.vim'

[[plugins]]
repo = 'matsui54/ddc-matcher_fuzzy'
depends = ['ddc.vim']
on_source = 'ddc.vim'

[[plugins]]
repo = 'Shougo/ddc-nextword'
depends = ['ddc.vim']
on_source = 'ddc.vim'

[[plugins]]
repo = 'delphinus/ddc-treesitter'
if = 'has("nvim")'
depends = ['ddc.vim', 'nvim-treesitter']
on_source = 'ddc.vim'

[[plugins]]
repo = 'LumaKernel/ddc-file'
depends = ['ddc.vim']
on_source = 'ddc.vim'
# repo = '~/ghq/github.com/LumaKernel/ddc-file'
# merged = 0

[[plugins]]
repo = 'matsui54/ddc-buffer'
depends = ['ddc.vim']
on_source = 'ddc.vim'

[[plugins]]
repo = 'LumaKernel/ddc-tabnine'
depends = ['ddc.vim']
on_source = 'ddc.vim'
hook_add = '''
command! -bar EditTabNineConfig execute 'edit' ddc_tabnine#config_dir() . '/tabnine_config.json'
command! -bar TabNineConfig execute EditTabNineConfig
'''
# repo = '~/ghq/github.com/LumaKernel/ddc-tabnine'
# merged = 0
# hook_add = '''
# " let g:ddc_tabnine#storage_dir = expand('~/xxx-my-tabnine/binaries')
# " let g:ddc_tabnine#disable_auto_install = v:true
# '''

[[plugins]]
repo = 'delphinus/ddc-tmux'
depends = ['ddc.vim']
on_source = 'ddc.vim'

[[plugins]]
repo = 'LumaKernel/ddc-registers-words'
depends = ['ddc.vim']
on_source = 'ddc.vim'
# repo = '~/ghq/github.com/LumaKernel/ddc-registers-words'
# merged = 0

[[plugins]]
repo = 'shun/ddc-vim-lsp'

if = 0
# repo = '~/ghq/github.com/shun/ddc-vim-lsp'
# merged = 0

depends = ['ddc.vim', 'vim-lsp']
on_source = 'ddc.vim'

[[plugins]]
repo = 'LumaKernel/ddc-run'
depends = ['ddc.vim']
on_source = 'ddc.vim'
# repo = '~/ghq/github.com/LumaKernel/ddc-run'
# merged = 0

[[plugins]]
repo = 'LumaKernel/ddc-eval'
depends = ['ddc.vim']
on_source = 'ddc.vim'
# repo = '~/ghq/github.com/LumaKernel/ddc-eval'
# merged = 0

[[plugins]]
repo = 'LumaKernel/ddc-coc-patched'
rev = 'v0.0.0-2021-10-09'

# if = 1
# repo = '~/ghq/github.com/LumaKernel/ddc-coc-patched'
# merged = 0

depends = ['ddc.vim', 'coc-patched.nvim']
on_source = 'ddc.vim'
