root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
charset = utf-8

[*.py]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.ps1]
charset = utf-16le

[{Makefile,*.make}]
tindent_style = tab

[.tmux-powerlinerc]
indent_style = unset
indent_size = unset
